<p>Hi <%= @user.first_name %></p>
<p>Here is your order summary: </p>

  <div class="order-summary jumbotron">
    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Item Totals</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item| %>
            <%= render 'item', line_item: item %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              ORDER TOTAL:
            </th>
            <th>
              $<%= @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

<p>Thanks for placing your order! Please check back often.</p>